@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hd-ft-total: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* spacer so footer is always at or below bottom of page set the var in root to match nav + footer height*/
.footer-v-spacer {
  min-height: calc(100vh - var(--hd-ft-total));
  display: flex;
}

.rolling {
  background-color: rgb(53,83,168);
  color: whitesmoke;
}
